@font-face {
    font-family: 'EversonMono';
    src: url('../fonts/Everson_Mono.ttf') format('truetype');
    font-color: #00ef00;
}
body {
    background-color: #232323;
    /* font-family: "Everson Mono","Courier Standard","Courier","Lucida Console",monospace; */
    font-family:'EversonMono';
    font-color: #00ef00;
}


h1 {
    color: #abcdef;
    display: inline
}
h2 {
    color: #03cc30;
    display: inline
}
h3 {
    color: #038830;
    display: inline
}
h4 {
    color: #036630;
    display: inline
}
h5 {
    color: #ceecee;
    display: inline
}

h1:hover {
    color: black;
    display: inline
}
h2:hover {
    color: black;
    display: inline
}
h3:hover {
    color: black;
    display: inline
}
h4:hover {
    color: black;
    display: inline
}
h5:hover {
    color: black;
    display: inline
}
h6:hover {
    color: black;
    display: inline
}
a:link {
    text-decoration: none
}
a:active {
    color: red
}


table {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background: gray
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #010101;
}

td {
    padding-top: 10px;
}


details summary::-webkit-details-marker {
  display:none;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
